.input_group {
  @apply flex border rounded-xl;
  position: relative;
}

.input_text {
  @apply w-full py-4 px-6 border rounded-xl bg-slate-50;
  @apply focus:outline-none border-none;
}

.input_text + * {
  color: #cbd5e1;
}

.input_text:focus + * {
  color: #6366f1;
}

.input_text:not([type="email"]) ~ span:hover* {
  color: #6366f1;
  cursor: pointer;
}

.button {
  @apply w-full bg-blue-500 rounded-md;
  @apply py-3 text-gray-50 text-lg;
}

.button:hover {
  @apply bg-gray-50 border-blue-500;
  @apply text-gray-700 border;
}

.button_custom {
  @apply w-full border py-3 flex justify-center gap-2 hover:bg-gray-200;
}
